---
layout: default
---
{% include page-title.html title=page.title page="Games" %}
 <!-- MAIN SECTION -->
<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <aside>
          <div class="panel panel-default eventSidebar">
              <div class="panel-heading bg-color-yellow border-color-yellow">
                <h3 class="panel-title">Game Details</h3>
              </div>
              <div class="panel-body">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-left iconContent bg-color-blue">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-blue">Rating</h4>
                      <p>{% include star-rating.html stars=page.stars %}</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left iconContent bg-color-green">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-green">Players</h4>
                      <p>{{page.stats.players}}</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left iconContent bg-color-red">
                      <i class="fa fa-child" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-red">Ages</h4>
                      <p>{{page.stats.age}}</p>
                    </div>
                  </li>
                  <li class="media iconContet">
                    <div class="media-left iconContent bg-color-purple">
                      <i class="fa fa-clock" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-purple">Play Time</h4>
                      <p>{{page.stats.playTime}}</p>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </aside>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12 block">
        <div class="thumbnail thumbnailContent alt">
          <img src="//via.placeholder.com/870x470" alt="image" class="img-responsive">
          <div class="caption border-color-1 singleBlog">
            <h1>{{page.title}}</h1>
            <ul class="list-inline blogInfo">
              <li><i class="fa fa-user" aria-hidden="true"></i>{{page.author}}</li>
            </ul>
            <!-- Summary -->
            {% if page.summary %}
              <section class="content">{{ page.summary | markdownify }}</section>
            {% endif %}
            <!-- Quote 1 -->
            {% if page.quotes.size > 0 %}
            {% assign q1 = page.quotes[0] %}
              {% include quote.html color="blue" position="right" name=q1.name title=q1.title quote=q1.quote %}
            {% endif %}
            <!-- Teachability -->
            {% if page.teachability %}
              <section class="content">
                <h2 color="color-blue">Teachability</h2>
                {{ page.teachability | markdownify }}
              </section>
            {% endif %}
            <!-- Modifications -->
            {% if page.modifications %}
              <section class="product-review clearfix">
                <div class="tabCommon">
                  <div class="tab-content">
                    <div class="tab-pane fade in active">
                      <div class="media">
                        <h3>Modifications</h3>
                        <p>{{ page.modifications.summary | markdownify }}</p>
                        <ul class="list-unstyled para-list">
                        {% for item in page.modifications.mods %}
                          <li><i class="fa fa-check" aria-hidden="true"></i>{{item}}</li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>